.fighters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  width: 40%;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .fighters-container {
    width: 90%;
  }
}
