.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  background: black;
  overflow: hidden;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
